.carousel-inner{
    background:#FEEAE9;
}
p{
    color:#707070;
}
h2{
    font-size:41px;
    color:#1F1F1F;
    text-transform: capitalize;
}

button.btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%,  #FF136F 100%);
    border: 1px solid #707070;
    color: #FFF;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.banner-price {
    color: #FF136F;
    font-size: 41px;
    margin-bottom:20px;
}

.margin-bottom-50{
    margin-bottom: 50px;

}



/* Category CSS start here*/
.category1, .category2, .category3{
    border-radius: 10px;
    padding:20px;
}
.category h2{
    color:white;
}
.category img{
    width:100px;
}

.category1{
    background-image:linear-gradient(to bottom right, #FF9C35, #FFD019);

}
.category2{
    background-image:linear-gradient(to bottom, #FF589B, #FF136F);

}
.category3{
    background-image:linear-gradient(to bottom right, #4289FF, #3F07F8);

}

/*  Shoes category start here*/

.card{

    border:none;
    box-shadow: 1px 1px 10px lightgray;

}
.card-footer{
    border:none;
    background-color: #fff;
}
.product-by-category{
    background-color:#d3d3d34d;
}

.bg-color{
    background-color: #FEEAE9;
    border-radius: 10px;
    height: 300px;

}
.form-control{
    margin-bottom: 10px;
}
footer small{
    padding:50px;
    text-transform: capitalize;
}
